{% extends 'front/layout.html' %} {% load static %} {% block title %} Contact
Alex {% endblock %} {% block style %}
<link href="{% static 'front/contact.css' %}" rel="stylesheet" />
{% endblock%} {% block body %}
<div class="contact-form-div">
  <form class="contact-form" action="{% url 'front:contact' %}" method="post">
    {% csrf_token %}
    <table>
      {{ form.as_table }}
    </table>
    <div>
    <input type="submit" value="Submit" />
    </div>
  </form>
  <h2>{{success}}</h2>
</div>
{%endblock%} {% block script %} {% comment %}
<script src="{% static 'front/image-compare.js' %}"></script>
{% endcomment %} {% endblock %}
